<h3 class="title"><%= l(:label_change_author) %></h3>

<%= content_tag 'div', :id => "issue_potential_author" do %>
  <%= form_tag autocomplete_project_issue_authors_path(@project), id: 'issue_author_change_form' do %>
    <fieldset>
      <p>
      <%= label_tag("author_change", l(:label_search_author)) %>
      <%= text_field_tag('author_change', nil, placeholder: I18n.t('minimum_query_length', min_length: Project::MIN_QUERY_LENGTH), style: 'width:250px') %>
      </p>
      <%= javascript_tag "observeSearchfield('author_change', null, '#{ escape_javascript autocomplete_project_issue_authors_path(@project, :format => 'js') }')" %>
      <div id="author_id" style="height: 200px; overflow: auto">
      </div>
    </fieldset>
  <% end %>
<% end %>

<%= javascript_tag do %>
  $('#issue_author_change_form').on('submit', function(e) {
    e.stopPropagation();
    e.preventDefault();
  });
<% end %>
